{% extends 'base.html' %}
{% block content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    <h2>중랑구 소득업소 운영 현황</h2>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>{{ title.name }}</th>
              <th>{{ title.iswork }}</th>
              <th>{{ title.address }}</th>
              <th>{{ title.phone }}</th>
            </tr>
          </thead>
          {% for post in posts %}
          <tbody>
            <tr>
              <td>{{ post.name }}</td>
              <td>{{ post.iswork }}</td>
              <td>{{ post.address }}</td>
              <td>{{ post.phone }}</td>
            </tr>
          </tbody>
          {% endfor%}
        </table>
      </div> 
    </main>
{% endblock %}

